html,body{
    height: 100%;
    background: #d4c4ac !important;
    scroll-behavior: smooth;
}


*{
    margin: 0;
}

a{
    text-decoration-line: none !important;
    color: #212529 !important;
}

input:focus{
    outline: none;
}

:root{
    --f: 'Beau Rivage', cursive;
}

::selection{
    background-color: rgba(255, 255, 0, 0.466);
}

.center-f{
    display: flex;
    justify-content: center;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

ul{
    list-style: none;
}

/* Navbar */
    .navbar{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: rgba(0, 0, 0, 0.212) !important;
        position: fixed !important;
        width: 100%;
        z-index: 2;
        top: 0;
    }

    .nav{
        max-height: 150px;
        position: relative;
        width: 94%;
        display: flex;
        justify-content: space-between;
    }

    .icon .col{
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

    .dsa{
        color: white;
        font-size: 24px;
        text-align: start;
    }

    .links{
        display: flex;
        align-items: center;
        display: grid;
    }

    .list{
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
    }

    .list li{
        font-size: 23px;
        color: white;
        position: relative;
    }

    .line{
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: white;
        bottom: -4px;
        box-shadow: white 0px 0px 10px;
        transition: width 1s;
    }

    .list li:nth-child(1):hover .line{
        width: 100%;
    }

    .list a{
        margin-right: 30px;
    }

    .icon img{
        height: 100px;
    }

    @media screen and (max-width: 600px) {
        .dsa {
            font-size: small;
        }

        .list li{
            font-size: smaller;
        }

        .icon img{
            height: 90px;
        }
    }

/* Navbar end */

/* S.Links */
    .slinks{
        position: fixed;
        top: 150px;
        right: 0px;
        z-index: 2;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .s{
        height: 50px;
        display: flex;
        transform: translate(120px);
        transition: 1s;
    }

    .str{
        background-image: linear-gradient(to right, #DBD1B2,#Fffae7);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 120px;
    }

    .str p{
        text-indent: 10px;
        text-align: start;
        color: black;
        font-family: var(--f);
        font-size: larger;
        font-weight: 600;
        margin: 0px;
    } 

    p{
        margin: 0;
    }

    .fr{
        height: 100%;
        width: 55px;
        background: #DBD1B2;
        border-right: 1px solid gray;
        border-radius: 20px 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fr img{
        transform: scale(50%);
    }

    .kl:hover {
        transform: translate(0);
    }

    .dr:hover {
        transform: translate(0);
    }

    .rq:hover {
        transform: translate(0);
    }
/* S.links end */

/* Head {Index} */
    .head{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hf h1{
        color: white;
        font-size: 55px;
        width: 100%;
        text-align: center;
        font-family: var(--f);
        animation: b-txt 1 10s;
        opacity: 1;
        margin: 0;
    }

    .hf span{
        color: white;
        font-size: 55px;
        width: 100%;
        text-align: center;
        font-family: var(--f);
        animation: b-txt2 1 10s;
        opacity: 1;
    }

    .image{
        object-fit: cover;
        width: 100%;
        height: 100% !important;
        position: absolute;
        z-index: -1;
        filter: contrast(85%);
    }

    @keyframes b-txt{
        0%{
            opacity: 0;
        }

        10%{
            opacity: 0;
        }

        20%{
            opacity: 1;
        }

        70%{
            opacity: 1;
        }

        90%{
            opacity: 1;
        }
    }

    @keyframes b-txt2{
        0%{
            opacity: 0;
        }

        30%{
            opacity: 0;
        }

        40%{
            opacity: 1;
        }


        90%{
            opacity: 1;
        }
    }

/* Head end {Index} */

/* News {Index} */
    .news{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .area{
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .new{
        display: flex;
        height: 300px;
        width: 48%;
    }

    .imag,
    .info{

        height: 100%;
        width: 100%;
        
    }

    .imag img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .titl{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 !important;
        margin-top: 15px;
    }

    .titl h4{
        width: 85%;
        text-align: center;
    }

    .text-nw{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
    }

    .text-nw p{
        width: 90%;
        height: 198px;
        overflow: hidden;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .button button{
        padding: 0px 15px 0px 15px;
        font-size: 20px;
        background: transparent;
        border: 1px solid black;
        box-shadow: black 0 0 3px;
        transition: 0.5s;
    }

    .button button:hover{
        box-shadow: black 5px 5px 3px;
    }

    @media screen and (max-width: 1500px) {
        .area{
            align-items: center;
            flex-direction: column;
        }

        .new{
            margin-bottom: 50px;
            width: 90%;
        }
    }

    @media screen and (max-width: 800px) {
        .new{
            flex-wrap: wrap;
            
        }

        .new:not(.d){
            margin-top: 280px;
        }
    }

    @media screen and (max-width: 600px) {
        .new .titl{
            font-size: small;
        }
    }
/* News end {Index} */

/* Main {Club's / Lesson's} */
    .form{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .form form{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 150px;
    }

    .linkv,
    .input{
        width: 40%;
    }

    .linkv h1{
        font-family: 'Satisfy', cursive;
        font-size: 50px;
    }

    .chcbx input{
        background-color: transparent;
    }

    .chcbx label{
        font-size: 27px;
        text-indent: 10px;
        cursor: pointer;
    }

    .drs{
        margin-top: 75px;
    }

    .input{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input h2{
        text-align: center;
        margin-bottom: 40px;
    }

    .input input{
        background: none;
        border-bottom: 1px solid black !important;
        border: none;
    }

    .input input::placeholder{
        text-indent: 3px !important;
    }

    .inputs{
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    .inputs:nth-child(3) input{
        width: 100%;
    }

    .inputs:nth-child(4) input:nth-child(1){width: 50px;}
    .inputs:nth-child(4) input:nth-child(2){width: 330px;}

    #submit{
        border: 1px solid black !important;
        padding: 2px 15px;
        margin-top: 20px;
    }

    .wh{
        display: flex;
    }

    .klb div{
        margin-left: 20px;
    }

    .halg,.halg2{
        margin-left: 20px;
    }

    .halg{
        margin-right: 110px;
    }

    .lessons{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    .area{
        width: 80%;
    }

    .less{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }

    .pho{
        width: 550px;
        height: 350px !important;
    }

    .inf{
        width: 50%;
        margin-left: 20px;
        overflow: hidden;
        position: relative;
    }

    .inf p{
        text-align: justify !important;
        height: 160px;
        overflow: hidden;
    }

    .mdr-btn{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        position: relative;
    }

    .mdr-btn button{
        color: white;
        background: transparent;
    }

    .e{
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: larger;
        z-index: 3;
    }

    .hvr{
        position: absolute;
        height: 0;
        width: 100%;
        overflow: hidden;
        z-index: 4;
        transition: 1s;
        border: 1px solid goldenrod;
    }

    .mdr-btn:hover .hvr{
        height: 100%;
    }

    .hvr button{
        width: 100%;
        height: 50px;
        background-color: rgb(204, 157, 40) !important;
    }

    .pho img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media screen and (max-width: 1500px) {
        .form form{
            flex-direction: column-reverse;
            align-items: center;
        }

        .linkv{
            display: flex;
            width: 100%;
        }

        .linkv .input{
            width: 100%;
        }

        .linkv label{
            font-size: 20px;
        }

        .klb,.drs{
            width: 50%;
            margin-top: 50px;
        }
    }

    @media screen and (max-width: 1000px){
        .wh{
            flex-direction: column;
        }

        .klb,.drs{
            width: 45%;
        }

        .linkv{
            justify-content: space-between;
        }

        .less{
            flex-direction: column;
            margin-bottom: 100px;
        }

        .pho{
            width: 100%;
        }

        .inf{
            width: 100%;
            margin: 0;
        }

        .inf h2{
            text-align: center;
            margin: 10px 0px;
        }

    }

    @media screen and (max-width: 750px){
        .linkv{
            flex-direction: column;
            align-items: center;
        }
        .klb,.drs{
            width: 100%;
        }

        .linkv h1{
            text-align: center;
        }

        .wh{
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .halg,.halg2{
            width: 50%;
            margin: 0;
        }

        .halg{
            margin-left: 20px !important;
        }

        .inputs{
            width: 300px;
        }

        .input input{
            width: 140px;
        }
    }

    @media screen and (max-width: 500px) {
        .wh{
            flex-direction: column;
        }

        .halg,.halg2{
            margin-left: 40px !important;
            width: 100%;
        }

        .inf h2{
            font-size: 22px;
            margin-top: 10px !important;
        }
    }

/* Main {Club's / Lesson's} end */

/* About */
    .about{
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }

    .a-con{
        display: flex;
        width: 100%;
    }

    .a-img{
        width: 50%;
        height: 100%;
        min-height: 510px;
    }

    .a-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text p{
        width: 80%;
        font-size: 20px;
    }
/* About end */

/* Head {New} */
    .head-n{
        width: 80%;
        height: 1000px;
        top: 130px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .photo,
    .txt-h{
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .txt-h-m{
        width: 90%;
    }

    .txt-h-m h2{ 
        text-align: center;

    }

    .m-phg,
    .m-phg img{
        width: 100%;
        height: 570px;
        object-fit: cover;
    }

    .n-phg{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        flex-wrap: wrap;
    }

    .kj{
        width: 30%;
        margin-bottom: 20px;
    }

    .kj img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: 1s;
        cursor: pointer;
    }

    .kj img:hover{
        filter: brightness(50%);
    }

    .txt-h-m p{
        font-size: 25px;
    }

    .news{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .raar{
        width: 100%;
        display: flex;
        justify-content: space-between;

        flex-wrap: wrap;
    }

    .onws{
        background-color: yellowgreen;
        width: 49.5%;
        height: 250px;
        margin-bottom: 30px;
        position: relative;
    }

    .onws img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
    }

    .onws img:hover{
        filter: brightness(40%);
    }

    .onws h4 {
        position: absolute;
        bottom: 10px;
        left: 5px;
        color: white;
    }

    .g{
        width: 100%;
        display: flex;
    }

    @media screen and (max-width: 1300px){
        .g{
            flex-direction: column-reverse;
        }

        .photo,
        .txt-h{
            width: 100%;
        }
    }



    @media screen and (max-width: 850px){
        .onws{
            width: 100%;
            height: 300px;
        }
        .raar{
            justify-content: center;
        }

        .txt-h-m p{
            font-size: 17px;
        }

        .m-phg,
        .m-phg img{
            height: 300px;
        }

        .n-phg{
            flex-wrap: wrap;
        }

        .kj{
            width: 48%;
        }

        .kj:last-child{
            width: 100%;
        }

        .kj,
        .kj img{
            height: 200px;
        }

        .onws{
            height: 200px;
        }
    }

    @media screen and (max-width: 400px) {
        .kj,
        .kj img{
            height: 150px;
        }
    }

/* Head end {New} */

/* Footer */
    #footer{
        width: 100%;
        height: 350px;
        background-color: #253546;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }

    .area-f{
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .ab,
    .map{
        width: 50%;
        height: 100%;
        position: relative;
    }

    .ab p{
        margin: 0;
        text-indent: 10px;
    }

    .map iframe{
        width: 100%;
        height: 100%;
    }

    .fll-btn{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 999;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

/* Footer end */

/* Media */

    /* Footer */
    @media screen and (max-width: 1000px){
        .area-f{
            flex-direction: column;
            align-items: center;
        }

        .ab,
        .map{
            width: 80% !important;
        }

        .map iframe
    }

/* Media end */