html,body{
    height: 100%;
    background: #d4c4ac !important;
    scroll-behavior: smooth;
}

*{
    margin: 0;
}

a{
    text-decoration-line: none !important;
    color: #212529 !important;
}

input:focus{
    outline: none;
}

:root{
    --f: 'Beau Rivage', cursive;
}

::selection{
    background-color: rgba(255, 255, 0, 0.466);
}

/* Navbar */
    .navbar{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: rgba(0, 0, 0, 0.212) !important;
        position: fixed !important;
        width: 100%;
        z-index: 2;
        top: 0;
    }

    .nav{
        max-height: 150px;
        position: relative;
        width: 94%;
        display: flex;
        justify-content: space-between;
    }

    .icon .col{
        padding: 0 !important;
        display: flex;
        align-items: center;
    }

    .dsa{
        color: white;
        font-size: 24px;
        text-align: start;
    }

    .links{
        display: flex;
        align-items: center;
        display: grid;
    }

    .list{
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
    }

    .list li{
        font-size: 23px;
        color: white;
        position: relative;
    }

    .line{
        position: absolute;
        width: 0%;
        height: 3px;
        background-color: white;
        bottom: -4px;
        box-shadow: white 0px 0px 10px;
        transition: width 1s;
    }

    .list li:nth-child(1):hover .line{
        width: 100%;
    }

    .list a{
        margin-right: 30px;
    }

    .icon img{
        height: 100px;
    }

    @media screen and (max-width: 600px) {
        .dsa {
            font-size: small;
        }

        .list li{
            font-size: smaller;
        }

        .icon img{
            height: 90px;
        }
    }

/* Navbar end */

/* S.Links */
    .slinks{
        position: fixed;
        top: 150px;
        right: 0px;
        z-index: 2;
        height: 200px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .s{
        height: 50px;
        display: flex;
        transform: translate(120px);
        transition: 1s;
    }

    .str{
        background-image: linear-gradient(to right, #DBD1B2,#Fffae7);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 120px;
    }

    .str p{
        text-indent: 10px;
        text-align: start;
        color: black;
        font-family: var(--f);
        font-size: larger;
        font-weight: 600;
        margin: 0px;
    } 

    p{
        margin: 0;
    }

    .fr{
        height: 100%;
        width: 55px;
        background: #DBD1B2;
        border-right: 1px solid gray;
        border-radius: 20px 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fr img{
        transform: scale(50%);
    }

    .kl:hover {
        transform: translate(0);
    }

    .dr:hover {
        transform: translate(0);
    }

    .rq:hover {
        transform: translate(0);
    }
/* S.links end */

/* Main {Club's} */
    .form{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .form form{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 150px;
    }

    .linkv,
    .input{
        width: 40%;
    }

    .linkv h1{
        font-family: 'Satisfy', cursive;
        font-size: 50px;
    }

    .chcbx input{
        background-color: transparent;
    }

    .chcbx label{
        font-size: 27px;
        text-indent: 10px;
        cursor: pointer;
    }

    .drs{
        margin-top: 75px;
    }

    .input{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input h2{
        text-align: center;
        margin-bottom: 40px;
    }

    .input input{
        background: none;
        border-bottom: 1px solid black !important;
        border: none;
    }

    .input input::placeholder{
        text-indent: 3px !important;
    }

    .inputs{
        width: 400px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    .inputs:nth-child(3) input{
        width: 100%;
    }

    .inputs:nth-child(4) input:nth-child(1){width: 50px;}
    .inputs:nth-child(4) input:nth-child(2){width: 330px;}

    #submit{
        border: 1px solid black !important;
        padding: 2px 15px;
        margin-top: 20px;
    }

    .wh{
        display: flex;
    }

    .klb div{
        margin-left: 20px;
    }

    .halg,.halg2{
        margin-left: 20px;
    }

    .halg{
        margin-right: 110px;
    }

    .lessons{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    .area{
        width: 80%;
    }

    .less{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 150px;
    }

    .pho{
        width: 550px;
        height: 350px !important;
    }

    .inf{
        width: 50%;
        margin-left: 20px;
        overflow: hidden;
    }

    .inf p{
        text-align: justify !important;
    }

    .pho img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    @media screen and (max-width: 1500px) {
        .form form{
            flex-direction: column-reverse;
            align-items: center;
        }

        .linkv{
            display: flex;
            width: 100%;
        }

        .linkv .input{
            width: 100%;
        }

        .linkv label{
            font-size: 20px;
        }

        .klb,.drs{
            width: 50%;
            margin-top: 50px;
        }
    }

    @media screen and (max-width: 1000px){
        .wh{
            flex-direction: column;
        }

        .klb,.drs{
            width: 45%;
        }

        .linkv{
            justify-content: space-between;
        }

        .less{
            flex-direction: column;
            margin-bottom: 100px;
        }

        .pho{
            width: 100%;
        }

        .inf{
            width: 100%;
            margin: 0;
        }

        .inf h2{
            text-align: center;
            margin: 10px 0px;
        }

    }

    @media screen and (max-width: 750px){
        .linkv{
            flex-direction: column;
            align-items: center;
        }
        .klb,.drs{
            width: 100%;
        }

        .linkv h1{
            text-align: center;
        }

        .wh{
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .halg,.halg2{
            width: 50%;
            margin: 0;
        }

        .halg{
            margin-left: 20px !important;
        }

        .inputs{
            width: 300px;
        }

        .input input{
            width: 140px;
        }
    }

    @media screen and (max-width: 500px) {
        .wh{
            flex-direction: column;
        }

        .halg,.halg2{
            margin-left: 40px !important;
            width: 100%;
        }

        .inf h2{
            font-size: 22px;
            margin-top: 10px !important;
        }
    }

/* Main {Club's} end */